<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Computer Page</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-4 ">
            <h4 class="my-2">Add computer</h4>
            <form action="" th:action="@{/computer/save}" id="contact-form" method="post">
                <label for="name">Name</label>
                <input class="form-control" id="name" required type="text" name="name" placeholder="Enter name">
                <label for="model">Model</label>
                <input class="form-control" id="model" required type="text" name="model"
                       placeholder="Enter model">
                <label for="price" class="mt-3">Price</label>
                <input class="form-control" name="price" id="price" required type="number" placeholder="Enter price">
                <label for="date" class="mt-3">Date</label>
                <input class="form-control" name="date" id="date" required type="text"
                       placeholder="Enter date">
                <button type="submit" class="btn btn-success mt-3" id="btn-save-contact"><i class="fa fa-save"></i> Save
                    Computer
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>