<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cabinet Page</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-4">
            <h2 class="text-uppercase my-3">Computers' List</h2>
        </div>
        <div class="col-md-12">
            <a th:href="@{/computer/add}" class="btn btn-primary m-3 float-right">Add computer</a>
            <table class="table table-bordered  table-hover">
                <thead class="bg-secondary text-light text-uppercase">
                <tr>
                    <th>Id</th>
                    <th>Model</th>
                    <th>Price</th>
                    <th>Year</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="computer : ${computers}">
                    <td th:text="${computer.id}"></td>
                    <td th:text="${computer.name}"></td>
                    <td th:text="${computer.model}"></td>
                    <td th:text="${computer.price}"></td>
                    <td th:text="${computer.date}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>