<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

</head>
<body>
<h2>Login Page</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-4">
            <div class="alert alert-danger" th:if="${wrong}">
                <p>Username or password wrong!</p>
            </div>
            <div class="form-group  my-2">
                <form th:action="@{/signin}" method="post">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" required id="username" name="username" placeholder="Enter username">
                    <label for="pass">Password</label>
                    <input type="password" class="form-control" required id="pass" name="password" placeholder="Enter password">
                    <div class="">
                        <button type="submit" class="btn btn-success mt-3"><i class="fa fa-save "></i> Sign in</button>
                        <a th:href="@{/user/add}"class="btn btn-success mt-3 float-right">Sign up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>